body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    overflow-y: scroll;
    overflow-x: scroll;
}
.hamburger{
    display: none;
}
.card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
}
.content {
    padding: 10px;
}
.images {
   
    justify-content: center;
    align-items: center;
    height: 100%;
}
.app-search input {
    padding: 5px;
    border-radius: 15px !important;
    border: 2px solid #ccc;
    font-size: 13px;
}
.app-search button {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.menu{
    height: 46px;
    background-color: #e88585;
    left: 0;
    right: 0;
}

/* Định dạng cho menu */
#nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
   
}
#nav li {
    position: relative;
    display: inline-block;
    
}
#nav a {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    
}
#nav li a{
    text-decoration: none;
    line-height:46px ;
    padding: 0 24px;
    display: block;
    text-align: center;
}
/* Định dạng cho subnav */
.subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
   z-index: 1000;
   
    
}
.subnav li {
    display: block;
    width: 100%;  /*làm cho ielts và toeic mỗi cái 1 dòng*/
    
}
.subnav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid #ddd;
}
/* Đổi màu nền khi hover vào các mục chính */
#nav li:hover > a {
    background-color: white;
    color: red; 
}
/* Hiển thị subnav khi hover vào li cha */
#nav li:hover > .subnav {
    display: block;
    width: 100%;
    left: 0;
}
/* Đổi màu chữ khi hover vào các li con */
.subnav li:hover > a {
    color: white !important;
    background-color: red !important;
}
a {
    transition: color 0.3s;
}
.ti-search:hover {
    background-color: #0056b3;
}
.imgdktv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imgdktv img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}
#Formdkntv {
    background-color: rgb(229, 56, 56); /* Set background color of the form */
    padding: 20px;
    border-radius: 8px;
    color: white;
    width: 75%;
}
.form-group {
    margin-bottom: 5px;
}
.form-group label {
    display: block; /* Ensures the labels are block elements */
    margin-bottom: 5px; /* Space between label and input */
}
.form-group input {
    width: 100%; /* Full width input fields */
    padding: 4px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button#dangky {
    width: fit-content;
    padding: 10px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
button#dangky:hover {
    background-color: #a00;
}
.formdki {
    padding: 10px;
}

.input-group-text  {
    border: none;
    
    background-color:none;
    box-shadow: none;
    /* Thêm các thuộc tính CSS khác nếu cần */
  }
  .login a{
    text-decoration: none;
    display: block; /* Ensure the link takes full width and height */
            padding: 10px 20px; /* Add padding to increase clickable area */
            background-color: #17a2b8; /* Set background color */
            color: white; /* Set text color */
            border-radius: 10px; /* Round the corners */
            text-align: center;
}
.login .col-md-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure the div takes full height */
}

.form-control{
    
        height: 30px; /* giữ nguyên chiều rộng của cột chứa thanh tìm kiếm */
    
}
.logo{
    border-radius: 50%; /* Làm cho hình ảnh thành hình tròn */
    object-fit: cover; /* Đảm bảo hình ảnh vừa khít với khung hình tròn */
    width: 75px; /* Đảm bảo kích thước hình ảnh theo yêu cầu */
    height: 75px;
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-15deg); }
    40% { transform: rotate(15deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

.fa-solid {
    color: red;
    display: inline-block;
    animation: shake 0.5s infinite;
}


header {
    margin: 0 ;
    padding:0 ;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.search button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.menu1 a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: gr;
    transition: background-color 0.3s, color 0.3s;
}

.menu1 a:hover {
    background-color: white;
    color: red;
    font-weight: bolder;
}
.KHH .container {
    display: flex;
    flex-wrap: wrap;
}
.KHH .row {
    display: flex;
    
}
.KHH .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
}
.KHH .card img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.KHH .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.KHH .card-body p {
    flex-grow: 1;
}

.KHH .card-link {
    align-self: flex-start;
    margin-top: auto;
}
.KHH .card {
    border: 2px solid rgb(244, 61, 61); 
    
}
.KHH .card-link {
    background-color: rgb(229, 37, 37); 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    color: white; 
    padding: 8px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.KHH .card-link:hover {
    background-color: #ccc; 
    color: black; 
}
h3{
    text-align: center !important;
}
.ti-gift {
    color: red;
    font-weight: bolder;
}
@keyframes shake3 {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    50% { transform: translateX(5px) rotate(5deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
}
h3{
    animation: shake3 0.5s infinite;
}
.hiddencontent {
    display: none;
}


/* Hiển thị nội dung khi hover và căn giữa trên ảnh */

.card:hover .hiddencontent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(23, 22, 22, 0.8); /* Màu nền với độ mờ */
    padding: 10px;
    color: white;
    font-size: 20px;
    align-content: center;
}
.col-content a {
    text-decoration: none;
    color: inherit; /* Ensures the links have the same color as surrounding text */
}

.col-content a:hover {
    color: #FFCC33; /* Optional: Add hover effect for better UX */
}
.footer .row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.col-content {
    flex: 1;
    margin-bottom: 20px; /* Adjust this as needed */
    padding: 15px;
    box-sizing: border-box;
}
.col-content img {
    max-width: 100%;
    height: auto;
    display: block;
}
.social {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}
.social ul {
    list-style-type: none; /* Loại bỏ dấu chấm */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social li {
    position: relative;
    margin: 10px 0;
}
.social img {
    display: block;
    width: 40px; 
    height: 40px; 
    transition: transform 0.3s ease; 
    
}
.social img:hover {
    transform: scale(1.5); /* Tăng kích thước khi hover */
    
}
.social li img {
    width: 40px; /* Kích thước icon */
    height: 40px;
    object-fit: contain;
}
.social li span {
    position: absolute;
    bottom: -20px; /* Định vị chữ dưới biểu tượng */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-size: 12px;
}
.social li a:hover + span {
    opacity: 1; /* Hiển thị chữ khi hover */
}
h3:hover{
    animation: none;
    transform: scale(1.5);
}

/*Popup*/
#giftButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: #e57f11;
    color: #fff;
    cursor: pointer;
  }

  #popupContainer {
    display: none; /*tạm ẩn cho đến khi nhấp vào nút nhận quà*/
    position: fixed; /*giữ nguyên vị trí kể cả khi cuộn trang*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*căn chính giữa màn hình*/
    text-align: center;
    z-index: 2; /*hiển thị chồng lên 2 lớp so với các ptu khác (backgr và div)*/
    margin-top: 40px;
    border-radius: 10px;
    transition: all 0.4s;
    animation: showImage ease-out 0.4s;
  }
  @keyframes showImage {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #giftButton:hover {
    background: rgba(217, 59, 59, 0.878);
    color: rgb(25, 25, 25); 
  }
  
  #popupImage {
    max-width: 100%;
    max-height: 80vh;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px #a5a3a3;
  }
  
  #closeButton {
    position: absolute;
    right: 0;
    background-color: #eeb24a;
    color: #fff;
    border: none;
    border-top-right-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }
  #closeButton:hover{
    background-color: #f3ed45;
    color: #a00;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

h5 {
    color: #eeb20e;
}
